<div class="row m-0">
    <div class="col-md-12 p-2 border bg-light">
        <button class="btn btn-sm btn-primary float-right" disabled="@(ViewModel.LoadingStatus == LoadingStatus.Loading)" @onclick="@Load"><i class="fad fa-refresh" /></button>
    </div>
</div>

@code
{
    [Parameter]
    public ViewModelBase<ConfigurationBase, AdminAppState> ViewModel { get; set; }

    [Parameter]
    public EventCallback Load { get; set; }

}
